.nav {
  padding-top: 65px;
}

table.mat-table {
  width: 100%;

  .mat-row:hover {
    background-color: lightblue;
  }
}


.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.btn-add {
  float: right;
  background-color: rgb(4, 159, 209);
  color: black;
  padding: 10px;
  border: none;
  border-radius: 8px;
  font: bold 16px large
}
