<div class="infront">


  <!--<h1>ConstructCo Consultants</h1>-->
  <!--<p>
    We specialize in giving professional advice to individuals and businesses in their area of expertise!
  </p>-->
  <!--<img src="/assets/img/sky.jpeg" alt="ConstructCo Consultants"
       class="home-cover" />-->


  <img class="full-screen-width" src="/assets/img/sky4.jpg" alt="ConstructCo" style="width:100%;">

  <!--<div class="top-right">ConstructCo Consultants</div>-->
  <!--<div class="top-center"> We specialize in giving professional advice to individuals and businesses in their area of expertise!</div>-->
  <div class="heading"> ConstructCo Consultants </div>
  <div class="para"> We specialize in giving professional advice to individuals and businesses in their area of expertise! </div>

</div>
